@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 254, 254, 254;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .article {
    @apply flex flex-col gap-4;
  }
  .article h1 {
    @apply text-2xl md:text-3xl font-bold mt-5;
  }
  .article h2 {
    @apply text-xl md:text-2xl font-bold mt-4;
  }
  .article h3 {
    @apply text-lg md:text-xl font-bold mt-3;
  }
  .article h4 {
    @apply text-sm md:text-lg font-bold mt-2;
  }
  .article a {
    @apply text-blue-500 hover:text-blue-600 underline;
  }
  .article p {
    @apply text-base md:text-lg text-gray-700 font-sans;
  }
  .article ol {
    @apply list-decimal list-inside md:px-5 mb-2 text-base md:text-lg text-gray-600 font-sans;
  }
  .article ul {
    @apply list-disc list-inside md:px-5 mb-2 text-base md:text-lg text-gray-600 font-sans;
  }
  .article blockquote {
    @apply px-5 py-4 bg-gray-100 md:px-6 md:py-5 md:bg-white md:text-gray-800;
  }
  .article hr {
    @apply border-b-2 border-gray-300;
  }
  .article iframe {
    @apply w-full h-full rounded-2xl lg:my-10 lg:transform lg:scale-125;
    aspect-ratio: 16 / 9;
  }
  .article img {
    @apply my-4 rounded-2xl lg:my-12 lg:transform lg:scale-[115%];
  }
}
