@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&Lexend+Giga&family=Poppins:wght@100;200&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    color: whitesmoke;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    &::before,
    &::after {
        content: "";
        height: 50vh;
        width: 100%;
        position: fixed;
        left: 0;
        background: #000000;
        z-index: 100;
    }
    &::before {
        top: 0;
        transform: translateY(-100%);
    }
    &::after {
        bottom: 0;
        transform: translateY(100%);
    }
}