.skillsets {
    text-align: center;
    padding-right: 10rem;
    padding-left: 10rem;
    margin-top: 2rem;
    .card {
        background: rgb(255, 255, 255);
        border-radius: 2px;
        display: inline-block;
        height: 140px;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 3rem;
        position: relative;
        width: 140px;
        img {
            border-radius: 10px;
        }
        &:hover {
            animation: logobig .3s;
            transform: scale(1.2);
        }
    }
}

@keyframes logobig {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

@media only screen and (max-width: 600px) {
    .skillsets {
        padding: 0;
        margin-top: 1rem;
        .card {
            height: 120px;
            width: 120px;
            margin: 1rem;
        }
    }
}